# VALON Peer Configuration
# Format: PEER_<name>_PUBKEY=<base64-pubkey>
#         PEER_<name>_ALIAS=<dns-alias>
#
# Example:
# PEER_SERVER_PUBKEY=ylVE/jMSSR1E6Dzf0jGwJZ+29z/NWYYayc82LxQqFgQ=
# PEER_SERVER_ALIAS=discovery
#
# PEER_FRIEND_PUBKEY=+tSa4Dl/QnlFBPIqZZflsutMwwtcRaJA0vWbv1dUYyc=
# PEER_FRIEND_ALIAS=client01

# Discovery Role (required)
PEER_DISCOVERY_PUBKEY=ylVE/jMSSR1E6Dzf0jGwJZ+29z/NWYYayc82LxQqFgQ=
PEER_DISCOVERY_ALIAS=discovery
